name: Build the base docker image

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
  workflow_dispatch:
    branches:
      - master
      - develop

concurrency:
  group: ${{ github.ref }}-build-docker
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  REPOSITORY_NAME: ${{ github.repository }}

jobs:
  deploy_ETL:
    runs-on: ubuntu-latest
    steps:
      # Extract the metadata
      - name: Extract the branch name to tag the docker.
        id: branch-name
        uses: tj-actions/branch-names@v6

      - name: Replace the / with - in the branch's name
        id: branch-name-parsed
        run: |
          ref="${github_ref////-}"
          echo $ref
          echo "target_branch=$ref" >> $GITHUB_OUTPUT
        env:
          github_ref: ${{ steps.branch-name.outputs.current_branch }}

      - name: Log into the Github container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the docker image's tag
        id: docker-tag
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME }}
          tags: ${{ steps.branch-name-parsed.outputs.target_branch }}

      # Build the docker

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Configure the Builder
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ steps.docker-tag.outputs.tags }}
          context: tooling/depechecode
          #file: depechecode/Dockerfile

      - name: Microsoft Teams Notification
        uses: skitionek/notify-microsoft-teams@master
        if: failure()
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          needs: ${{ toJson(needs) }}
          job: ${{ toJson(job) }}
          steps: ${{ toJson(steps) }}
